.next-button {
  color: var(--txt-light);
  background-color: var(--bg-dark);
  height: 6rem;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1px;
  text-transform: none;
  display: inline-block;
  transition: 0.5s;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
}
