.option-list {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: var(--options-height);
  /* padding-right: 30rem; */
}
.option-list button {
  font-size: 1.25rem;
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  min-width: calc(var(--options-height)) !important;
  height: var(--options-height);
}
.option-list button:hover {
  background-color: var(--color-alpine);
}

.option-list .label {
    margin:2rem;
}