:root {
  --color-alpine: #0843a6;
  --color-alpine-alt: #0a59d7;
  --color-white: #f4f4f4;
  --color-light: #848484;
  --color-dark: #848484;
  --color-black: #101011;
  --color-light-trans: #f4f4f47f;
  --color-dark-trans : #1010117f;
  --txt-dark: var(--color-black);
  --txt-light: var(--color-white);
  --bg-dark: var(--color-alpine);
  --bg-dark: var(--color-alpine);
  --bg-light: var(--color-white);
  --footer-height: 6rem;
  --options-height: 10rem;
  --header-height: 3rem;
  --preview-height: calc(80vh - var(--footer-height) - var(--options-height));
}
* {
    box-sizing: border-box
} 
body {
    background : var(--bg-light);
    overflow-x: hidden;
}

footer {
    /* background : var(--bg-dark); */
    height: var(--footer-height);
}
.App {
  text-align: center;
}


.App-link {
  color: var(--color-alpine);
}

.skew {
    transform: skew(-18deg);
}
.unskew {
    transform: skew(18deg);
}